{% extends "base.html" %}

{% block body %}
<table class="table table-striped table-hover table-bordered" style="width: 100%">
<tr>
    <th>Hostname</th>
    <th>Serial</th>   
    <th>Addresses</th>
    <th>Ports</th>
    <th>First seen</th>   
    <th>Last seen</th>
    <th>Status</th>   
</tr>
{% for device in devices %}
    <tr>
        <td><a href="/device/{{ device['dev_id'] }}">{{ device['hostname'] }}</td>
        <td>{{ device['sn'] }}</td>
        <td>
        {%for name, intf in device['interfaces'].items() %}
           <dl><dt>{{ name }}</dt><dd>{{ intf['addrs']|join('<br>')|safe }}</dd></dl>
        {% endfor %}</td>
        <td>{{ device['ports']|join('<br>')|safe}}</td>
        <td>{{ device['first_seen'] }}</td>
        <td>{{ device['last_updated'] }}</td>
        <td><a data-toggle="tooltip" title="{{ device['seen_ago'] }}"><img src="/static/images/{{ device['status'] }}.png"></a></td>
    </tr>
{% endfor %}
</table>

{% endblock body %}
